header {
  background-color: midnightblue;
  color: white;
  height: 100px;
  width: 100%;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

main {
  min-height: 400px;
}

#logo {
  font-size: 42px;
}

footer {
  position: relative;
  background-color: midnightblue;
  color: white;
  width: 100%;
  height: 50px;
  border: 10px 0px 0px 10px;
}

header nav {
  display: flex;
  align-items: center;
  padding: 30px 10px 0px 10px;
  color: white;
  height: 60px;
  z-index: 1;
  font-family: Jazz LET, fantasy;
}

footer nav {
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
  color: white;
  width: 100%;
  z-index: 1;
  font-family: Jazz LET, fantasy;
}


nav h1 {
  padding-left: 20px;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0px 20px 0px 10px;
  align-items: center;
  margin: 0;
  margin-left: auto;
  color: white;
}

footer .navigation-items {
  display: flex;
  list-style-type: none;
  padding: 10px 40px 10px 10px;
  align-items: center;
  margin: 0;
  margin-left: auto;
  color: white;
}

.navigation-items i {
  padding: 5px;
}

.navigation-item a {
  padding: 10px;
  color: white;
}

.slide_container {
  overflow: hidden;
  min-height: 100%;
  max-height: 500px;
  max-width: 80%;
  margin: 0px auto;
  }

.slideshow_container {
  background-image: linear-gradient(midnightblue, white);
  position: relative;
  padding-top: 20px;
}

.opener_container {
  margin: auto;
  font-family: Jazz LET, fantasy;
  text-align: center;
  max-width: 700px;
}

.opener_text {
  font-family: Palatino, URW Palladio L, serif;
  font-size: 16px;
  line-height: 2;
}

.opener_body {
  background-image: url("images/white_soft_marble.jpeg");
  opacity: .75;
}

/* Start of menu styling */

.menu_class_header {
  text-decoration: underline;
}

.full_menu_container {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: linear-gradient(midnightblue, White, midnightblue);
}

.full_menu_container h1 {
  font-weight: bold;
  text-align: center;
  font-family: Jazz LET, fantasy;
  font-size: 48px;
  color: white;
}

.menu_body_container {
  background-color: White;
  margin: auto;
  opacity: .75;
  padding-left: 20px;
  max-width: 700px;
  border: solid 1px;
  border-color: midnightblue;
  font-family: Oldtown;
}

.menu_item_container {
  padding-left: 20px;
}

.item_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  }

.food_item {
  align-items: left;
  font-size: 18px;
}

.food_price {
  align-items: right;
  font-size: 16px;
  padding-right: 40px;
}

.item_description {
  padding: 5px 200px 16px 15px;
  font-size: 14px;
  opacity: .9;
}

.appetizers_body_container {
  display: grid;
  grid-column: 1 / span 2;
}

.sushi_dinner_name_container {
  display: inline-flex;
}

.sushi_dinner_description {
  font-size: 14px;
  font-style: italic;
  padding-left: 30px;
  padding-top: 30px;
}

.nigiri_body_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px black;
  padding-top: 10px 0px;
  margin-right: 20px;
  background-color: WhiteSmoke;
}

.nigiri_name_container {
  display: inline-flex;
}

.right_column_nigiri {
  height: auto;
  border-left: solid 1px gray;
}

.left_column_nigiri {
  height: auto;
}

.item_container_nigiri {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.nigiri_translation {
  font-size: 12px;
  padding-top: 3px;
  padding-left: 20px;
}

.nigiri_menu_description {
  font-size: 14px;
  font-style: italic;
  padding-left: 30px;
  padding-top: 30px;
}

.nigiri_price {
  padding-left: 22px;
}

.nigiri_item {
  padding-left: 20px;
  font-size: 16px;
}

.sides_body_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 20px;
}

.side_item_container {
  display: inline-flex;
}

.side_price {
  padding-left: 10px;
}
/* End of menu styling */

/* Start of info styling */
.info_body_container {
  opacity: .75;
  padding-left: 40px;
}

.business_hours_container {
  padding-left: 10px;
}

#map {
        height: 250px;
        width: 250px;
        margin-left: 30px;
        margin-bottom: 100px;
        box-shadow: 8px 8px 4px 0px; rgba(0, 0, 0, 0.2)
      }


#mountain_image {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 36px;
}

#specials_nav {
  z-index: 2;
}

.specials_header_container {
  text-align: center;
  font-family: rockwell;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  font-size: 24px;
  font-color: maroon;
  background-color: cornsilk;
  background-size: cover;
  padding-top: 10px;
}

.specials_main {
  background-color: cornsilk;
  background-size: cover;
}

.specials_full_container {
  background-color: cornsilk;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  margin-top: 0px;
}


.specials_body_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  column-gap: 60px;
  margin-bottom: 110px;
  row-gap: 40px;
}

.happy_hour_container {
  border: 1px solid black;
  margin-left: 50px;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("images/wood_planks_brown_overhead.jpeg");
  background-size: 600px;
  height: 440px;
  color: White;
  font-family: rockwell;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: span 4;
}

.happy_hour_header {
  padding-top: 26px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.happy_hour_body_container {
  font-size: 28px;
  text-align: center;
  padding-top: 35px;
  text-shadow: 2px 2px #000000;
}

.happy_hour_time {
  padding-bottom: 8px;
  font-style: italic;
}

.happy_hour_item {
  padding-bottom: 8px;
}

.weekly_deals_container {
  border: 1px solid black;
  margin-right: 50px;
  height: 300px;
  background-color: maroon;
  color: White;
  text-shadow: 2px 2px #000000;
  font-family: rockwell;
  font-weight: bold;
}

.weekly_deals_header {
  padding-left: 30px;
}

.weekly_deals_item_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0px;
  font-size: 20px;
}

.weekly_deals_date {
  padding-left: 45px;
}

.full_moon_container {
  border: 1px solid black;
  margin-right: 50px;
  background-image: url("images/full_moon_yellow_orange_long.jpeg");
  background-size: 600px;
  background-position: 30px;
  color: white;
}

.full_moon_description {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 200px;
  font-size: 24px;
  font-weight: bold;
}

/* End of Specials page styling */

#order_online_body {
  background-image: url("images/restaurant_black_and_white.jpeg");
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

#order_online_body_container {
  border: solid 1px;
  max-width: 700px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: ivory;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.order_online_item_container {
  width: 300px;
}

#appetizers_online_body_container {
  display: flex;
}

.time {
  padding-left: 10px;
}

.footer_info {
  display: inline-flex;
  font-family: Palatino, URW Palladio L, serif;
  font-size: 16px;
}

.phone_number {
  padding-left: 10px;
}

.phone_info {
  display: inline-flex;
}

.address {
  padding-left: 10px;
}

.address_info {
  padding-left: 20px;
  display: inline-flex;
}

#info_page_footer, #specials_page_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
